{% extends './main_template/main_template.html' %}
{% load staticfiles %}
{% block search %}

  <link rel="stylesheet" href="{% static './search/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static './search/css/search.min.css' %}">

  <form class="container search-page" action="#">
    <div class="col-lg-10 col-md-8 col-sm-8 col-xs-12">

      <div class="ui-widget">
          <input id="search-input" type="text" class="form-control " placeholder="Введите здесь то, что вы ищете..." name="search">
      </div>
      </div>
      <div class=" col-lg-2 col-md-4 col-sm-4 col-xs-12 ">
        <button id="search-btn" class="btn-block btn-lg" type="submit">Искать</button>
      </div>
    {% if response %}
      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12 search-text" >
        <h3 class="search-result">Найдено результатов поиска:<text class="search-header-result">{{ pages|length }}</text> </h3>
        {% for p in pages %}
          <a href="/{{ p.slug }}">{{ p.title }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </form>


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static './search/script/script.js' %}"></script>

{% endblock %}